* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
  background: #008080;
}

button,
a,
input {
  letter-spacing: 0;
}

img {
  user-select: none;
}
